<div class="rules-container">
  <h2>How to Play</h2>
  <ul>
    <li>
      Buy-in is $50 via
      <a href="https://venmo.com/code?user_id=2463381848064000440&created=1756433168" target="_blank" rel="noopener noreferrer">Venmo</a> or
      <a href="https://paypal.me/therealjoshknopp" target="_blank" rel="noopener noreferrer">PayPal</a>.
    </li>
    <li>$50 goes to the house, $50 for second place, and the winner takes the rest.</li>
    <li>Submit or change picks any time up until the scheduled kickoff time.</li>
    <li>Picks are submitted as soon as you click the team button. There is no separate Submit button.</li>
    <li><strong>NEW:</strong> Failure to submit a pick for a game is an automatic loss. It is a good idea to pick all games well in advance, and then change as needed.</li>
    <li>Any game that ends in a tie counts as a loss for everybody.</li>
    <li>Login methods are Google and email/password. Google is better. If you use email and forget your password, you have to request a reset and then wait a while for a site admin to process it. Don't be that guy!</li>
  </ul>
</div>
